
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-xHk {
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .auto-group-msfy-huY {
    position: absolute;
    left: 26.6rem;
    top: 0;
    width: 117.4rem;
    height: 105.8rem;

    .exclude-4X8 {
      height: 105.8rem;
      position: absolute;
      left: 3rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 114.4rem;
    }
    .img20221222205419-removebg-preview-1-aVU {
      position: absolute;
      left: 34.4rem;
      top: 0.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 82.2rem;
      height: 101.1rem;
    }
    .home-U54 {
      top: 5.2rem;
      font-size: 2.4rem;
      font-weight: 700;
      font-family: Kanit, 'Source Sans Pro';
      height: 3.6rem;
      position: absolute;
      left: 49.4rem;
      line-height: 1.495;
      color: #ffffff;
      white-space: nowrap;
      width: 6.6rem;
    }
    .about-vxe {
      height: 3.6rem;
      position: absolute;
      left: 62.8rem;
      top: 5.2rem;
      font-size: 2.4rem;
      line-height: 1.495;
      font-family: Kanit, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.1rem;
      font-weight: 700;
      color: #ffffff;
    }
    .contact-2kn {
      width: 10.4rem;
      height: 3.6rem;
      position: absolute;
      top: 5.4rem;
      font-weight: 700;
      left: 75.6rem;
      font-size: 2.4rem;
      line-height: 1.495;
      color: #ffffff;
      font-family: Kanit, 'Source Sans Pro';
      white-space: nowrap;
    }
    .download1-removebg-preview-1-1-Kjt {
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: 89.9rem;
      top: 6rem;
    }
    .download2-removebg-preview-1-S3p {
      position: absolute;
      left: 97.1rem;
      top: 6.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
      height: 2.3579rem;
    }
    .download3-removebg-preview-1-1-x2A {
      vertical-align: top;
      width: 3.5rem;
      height: 3.5rem;
      position: absolute;
      left: 103.8rem;
      top: 5.4rem;
      object-fit: cover;
    }
    .ellipse-1-GoY {
      height: 6.2rem;
      position: absolute;
      left: 0;
      top: 93.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.1rem;
    }
    .arka-bqp {
      line-height: 1.495;
      font-family: Kanit, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.3rem;
      height: 3rem;
      font-size: 2rem;
      font-weight: 500;
      color: #ffffff;
      position: absolute;
      left: 8.2rem;
      top: 94.9rem;
    }
    .coba-coba-htr {
      width: 6.9rem;
      height: 10.8rem;
      font-size: 2.4rem;
      color: #ffffff;
      font-family: Kanit, 'Source Sans Pro';
      position: absolute;
      left: 110.1rem;
      top: 18.6rem;
      font-weight: 600;
      line-height: 1.495;
    }
  }
  .item-01-bDY {
    height: 20.7rem;
    top: 17.4rem;
    border: solid 0.1rem #9747ff;
    box-sizing: border-box;
    border-radius: 0.5rem;
    width: 5.8rem;
    position: absolute;
    left: 32.1rem;
    overflow: hidden;

    .property-1variant2-gkn {
      position: absolute;
      top: 13.2742rem;
      font-weight: 700;
      color: #ffffff;
      width: 12.1032rem;
      height: 11.3062rem;
      left: -1.6893rem;
      font-size: 4.8rem;
      line-height: 1.495;
      font-family: Kanit, 'Source Sans Pro';
      white-space: nowrap;
    }
    .property-1default-kke {
      width: 12.1032rem;
      height: 11.3062rem;
      left: -1.7rem;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.495;
      position: absolute;
      top: 13.2742rem;
      color: #ffffff;
      font-family: Kanit, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-n3fl-CMk {
    top: 0;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    width: 26.6rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    padding: 3rem 1.6rem 0rem 1.7rem;

    .auto-group-zzje-eDk {
      height: 119.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.5rem;

      .ellipse-2-wie {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 4.9rem 1rem;
        width: 6.1rem;
        height: 6.2rem;
      }
      .union-e7G {
        margin: 0rem 0rem 8.2rem 1rem;
        width: 4.1rem;
        height: 4.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .nikodemus-san-x7x {
        color: #000000;
        font-family: Kanit, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 1rem;
        max-width: 6.1rem;
        font-size: 6.4rem;
        font-weight: 600;
        line-height: 1.495;
      }
    }
    .auto-group-b9ne-3QJ {
      flex-direction: column;
      flex-shrink: 0;
      margin-top: 1.7rem;
      display: flex;

      .ar-company-yok {
        line-height: 1.495;
        color: #000000;
        font-family: Kanit, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 51.7rem;
        font-size: 2rem;
        font-weight: 500;
      }
      .creator-of-this-website-gCN {
        font-family: Kanit, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 0.4rem;
        max-width: 13.3rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.495;
        color: #000000;
      }
    }
  }
}
