
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-xHk {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.desktop-1-xHk .auto-group-msfy-huY {
  width: 117.4rem;
  height: 105.8rem;
  position: absolute;
  left: 26.6rem;
  top: 0;
}
.desktop-1-xHk .auto-group-msfy-huY .exclude-4X8 {
  width: 114.4rem;
  height: 105.8rem;
  position: absolute;
  left: 3rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-xHk .auto-group-msfy-huY .img20221222205419-removebg-preview-1-aVU {
  width: 82.2rem;
  height: 101.1rem;
  position: absolute;
  left: 34.4rem;
  top: 0.3rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-xHk .auto-group-msfy-huY .home-U54 {
  width: 6.6rem;
  height: 3.6rem;
  position: absolute;
  left: 49.4rem;
  top: 5.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.495;
  color: #ffffff;
  font-family: Kanit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-xHk .auto-group-msfy-huY .about-vxe {
  width: 8.1rem;
  height: 3.6rem;
  position: absolute;
  left: 62.8rem;
  top: 5.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.495;
  color: #ffffff;
  font-family: Kanit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-xHk .auto-group-msfy-huY .contact-2kn {
  width: 10.4rem;
  height: 3.6rem;
  position: absolute;
  left: 75.6rem;
  top: 5.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.495;
  color: #ffffff;
  font-family: Kanit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-xHk .auto-group-msfy-huY .download1-removebg-preview-1-1-Kjt {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 89.9rem;
  top: 6rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-xHk .auto-group-msfy-huY .download2-removebg-preview-1-S3p {
  width: 2.4rem;
  height: 2.3579rem;
  position: absolute;
  left: 97.1rem;
  top: 6.1rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-xHk .auto-group-msfy-huY .download3-removebg-preview-1-1-x2A {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 103.8rem;
  top: 5.4rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-xHk .auto-group-msfy-huY .ellipse-1-GoY {
  width: 6.1rem;
  height: 6.2rem;
  position: absolute;
  left: 0;
  top: 93.6rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-xHk .auto-group-msfy-huY .arka-bqp {
  width: 5.3rem;
  height: 3rem;
  position: absolute;
  left: 8.2rem;
  top: 94.9rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.495;
  color: #ffffff;
  font-family: Kanit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-xHk .auto-group-msfy-huY .coba-coba-htr {
  width: 6.9rem;
  height: 10.8rem;
  position: absolute;
  left: 110.1rem;
  top: 18.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.495;
  color: #ffffff;
  font-family: Kanit, 'Source Sans Pro';
}
.desktop-1-xHk .item-01-bDY {
  width: 5.8rem;
  height: 20.7rem;
  position: absolute;
  left: 32.1rem;
  top: 17.4rem;
  overflow: hidden;
  border: solid 0.1rem #9747ff;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.desktop-1-xHk .item-01-bDY .property-1variant2-gkn {
  width: 12.1032rem;
  height: 11.3062rem;
  position: absolute;
  left: -1.6893rem;
  top: 13.2742rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.495;
  color: #ffffff;
  font-family: Kanit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-xHk .item-01-bDY .property-1default-kke {
  width: 12.1032rem;
  height: 11.3062rem;
  position: absolute;
  left: -1.7rem;
  top: 13.2742rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.495;
  color: #ffffff;
  font-family: Kanit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-xHk .auto-group-n3fl-CMk {
  box-sizing: border-box;
  padding: 3rem 1.6rem 0rem 1.7rem;
  width: 26.6rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.desktop-1-xHk .auto-group-n3fl-CMk .auto-group-zzje-eDk {
  margin-right: 2.5rem;
  height: 119.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-xHk .auto-group-n3fl-CMk .auto-group-zzje-eDk .ellipse-2-wie {
  margin: 0rem 0rem 4.9rem 1rem;
  width: 6.1rem;
  height: 6.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-xHk .auto-group-n3fl-CMk .auto-group-zzje-eDk .union-e7G {
  margin: 0rem 0rem 8.2rem 1rem;
  width: 4.1rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-xHk .auto-group-n3fl-CMk .auto-group-zzje-eDk .nikodemus-san-x7x {
  margin-right: 1rem;
  max-width: 6.1rem;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.495;
  color: #000000;
  font-family: Kanit, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-xHk .auto-group-n3fl-CMk .auto-group-b9ne-3QJ {
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-xHk .auto-group-n3fl-CMk .auto-group-b9ne-3QJ .ar-company-yok {
  margin-bottom: 51.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.495;
  color: #000000;
  font-family: Kanit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-xHk .auto-group-n3fl-CMk .auto-group-b9ne-3QJ .creator-of-this-website-gCN {
  margin-left: 0.4rem;
  max-width: 13.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.495;
  color: #000000;
  font-family: Kanit, 'Source Sans Pro';
  flex-shrink: 0;
}
